.body-style {
    background-color: #9de8ff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bucket{
    max-width:80%;
}

.main-content-index {
    margin-top: 5em;
    border: 1px solid #ffffff;
    background-color: #249bf0;
    -webkit-box-shadow: 3px 3px 15px 4px rgba(0,0,0,0.6); 
    box-shadow: 3px 3px 15px 4px rgba(0,0,0,0.6);
}


.main-content {
    margin-top: 5em;
    border: 1px solid #ffffff;
    background-color: #fdb3f1;
    -webkit-box-shadow: 3px 3px 15px 4px rgba(0,0,0,0.6); 
    box-shadow: 3px 3px 15px 4px rgba(0,0,0,0.6);
}

.main-content-comparisons {
    margin-top: 5em;
    /* border: 1px solid #ffffff;
    background-color: #fdb3f1;
    -webkit-box-shadow: 3px 3px 15px 4px rgba(0,0,0,0.6); 
    box-shadow: 3px 3px 15px 4px rgba(0,0,0,0.6); */
}

.comparisons-head {
    color: grey;
    font-size: 36px;
}

.main-header-txt-index {
    margin: auto;
    position: relative;
    text-align: center;
    top: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-header-txt {
    margin: auto;
    position: relative;
    text-align: center;
    top: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sub-hed {
    margin-top: -30px;
    margin-bottom: 20px;
}

.para-txt {
    text-align: center;
    margin-top: 15px;
}

.landing-img {
    height: 300px;
    width: 340px;
    display: inline-block;
}

.visualization-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height:auto;
}

.plot-header {
    text-align: center;
    color: grey;
    margin-top: 25px;
}

.img-text {
    color: #727272;
}

.caro-colors-next,
.caro-colors-prev {
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: black;
}

.carousel-indicators{
    background-color: #d8d8d8;
    opacity: .7;
}

.carousel-indicators .active{
    background-color: #3a3a3a;
}